@CHARSET "UTF-8";
html,body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    background-color: #FF781E;
}
body {
    background-image:url('/_img/zucchi/admin/static.bokeh.svg');
    background-position: top left;
    background-repeat: no-repeat;
}
.navbar .brand {
    color:#fe761c;
}

#admin .container {
    background-color: rgba(255,255,255,0.7) ;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#admin .container header {
    color: #fff;
    background-color: #FF781E;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

#admin .container .gutter {
    margin: 10px;
}

footer {
    margin-top: 3px;
}